# Make sublime text the default editor
export EDITOR=subl


# Command prompt
export PS1="\[\033[0;36m\][\u@\h: \[\033[0;31m\]\w\[\033[0;36m\]] \[\033[0m\]"


# History
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# shopt -s histappend # Append the history files
export PROMPT_COMMAND='history -a'
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
export HISTCONTROL=ignoredups


# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"


# Prefer US English and use UTF-8
export LANG="en_CA"
export LC_ALL="en_CA.UTF-8"


# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"
